<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>category_id</key>
			<string>16</string>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>category_id</key>
			<string>outdoor</string>
			<key>name</key>
			<string>户外活动</string>
			<key>img</key>
			<string>ic_c_montain_samll_small</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>16</integer>
			<key>name</key>
			<string>暂不开放</string>
			<key>img</key>
			<string>ic_c_shirt_small_small</string>
		</dict>
		<dict>
			<key>category_id</key>
			<string>food</string>
			<key>name</key>
			<string>DIY手作</string>
			<key>img</key>
			<string>ic_c_eat</string>
		</dict>
		<dict>
			<key>category_id</key>
			<string>party</string>
			<key>name</key>
			<string>派对聚会</string>
			<key>img</key>
			<string>party_175px_1149517_easyicon.net</string>
		</dict>
		<dict>
			<key>category_id</key>
			<string>sport</string>
			<key>name</key>
			<string>运动健身</string>
			<key>img</key>
			<string>sport_673px_1195500_easyicon.net</string>
		</dict>
		<dict>
			<key>category_id</key>
			<string>charity</string>
			<key>name</key>
			<string>文艺生活</string>
			<key>img</key>
			<string>ic_c_leaf_small_small</string>
		</dict>
		<dict>
			<key>name</key>
			<string>沙龙学堂</string>
			<key>img</key>
			<string>high_school_565px_1197243_easyicon.net</string>
			<key>category_id</key>
			<string>others</string>
		</dict>
		<dict>
			<key>category_id</key>
			<string>ch-yj</string>
			<key>name</key>
			<string>茶会雅集</string>
			<key>img</key>
			<string>tea_533px_1186483_easyicon.net</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全部类目</string>
			<key>img</key>
			<string>ic_all_small_gray</string>
		</dict>
	</array>
</array>
</plist>
